<div class='container'>
  <%= render "public/shared/back", link: customer_path(@customer.id), text: "会員詳細(#{@customer.name})" %>
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title">会員情報編集</h4>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-8">
      <%= render "layouts/errors", obj: @customer %>
      <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
        <table class="table table-bordered">
          <tr>
            <td class="align-middle" style="width: 20%">名前</td>
            <td>
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="align-middle">紹介文</td>
            <td>
              <%= f.text_area :introduction, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="align-middle">メールアドレス</td>
            <td>
              <%= f.email_field :email, class: 'form-control' %>
            </td>
          </td>
          <% if admin_signed_in? %>
            <tr>
              <td class="align-middle">会員ステータス</td>
              <td>
                <%= f.radio_button :is_active, true %>
                <%= f.label :is_active, "有効" %>
                <%= f.radio_button :is_active, false, class: "ml-2" %>
                <%= f.label :is_active, "無効" %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="row">
          <div class="col-md-4 mx-auto">
            <%= f.submit "編集内容を保存する", class: "btn btn-success btn-block"%>
          </div>
          <% if @customer == current_customer %>
            <div class="col-md-4 mx-auto">
              <%= link_to "退会する", quit_check_customers_path, class: "btn btn-danger btn-block" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
