<%= form_with model: game, url: games_path do |f| %>
  <table class="table table-borderless">
    <tr>
      <td style="width: 30%"><%= f.label :image, "ゲーム画像" %></td>
      <td><%= f.file_field :game_image, class: "form-control-file", accept: 'image/*' %></td>
    </tr>
    <tr>
      <td><%= f.label :title, "タイトル" %><span class="text-danger">*必須</span></td>
      <td><%= f.text_field :title, placeholder: "サンプルゲーム", class: "form-control", size: "40" %></td>
    </tr>
    <tr>
      <td><%= f.label :platform_id, "機種" %><span class="text-danger">*必須</span></td>
      <td>
        <div class="row">
          <div class="col-md-6">
            <%= f.select :platform_id, options_from_collection_for_select(Platform.all, :id, :name), {}, class: "form-control" %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :name, "タグ (,で区切ると複数タグ登録できます)" %></td>
      <td><%= f.text_area :name, placeholder: "アクション,アドベンチャー", class: "form-control" %></td>
    </tr>
    <tr>
      <td class="align-middle"><%= f.label :introduction, "ゲーム紹介欄" %></td>
      <td><%= f.text_area :introduction, rows: '5', placeholder: "紹介文を入力...", class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :release_date, "発売日" %></td>
      <td>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :release_date, placeholder: "XXXX年YY月ZZ日", class: "form-control" %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :no_tax_price, "税抜価格" %></td>
      <td>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :no_tax_price, class: 'form-control', size: "20" %>
          </div>
          <div class="my-auto col-md-1">円</div>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= f.label :related_url, "関連URL" %></td>
      <td>
        <%= f.text_field :related_url, placeholder: "https://sample.example.com", class: "form-control" %>
      </td>
    </tr>
  </table>
  <div class="mx-auto">
    <%= f.submit btn_text, class: 'btn btn-success' %>
  </div>
<% end %>
