<div class='container'>
  <%= render "public/shared/back", link: game_path(@game.id), text: "ゲーム詳細(#{@game.title})" %>
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title">ゲーム情報編集</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6 mx-auto">
      <%= render 'layouts/errors', obj: @game %>
      <%= form_with model: @game, url: game_path, method: :patch do |f| %>
        <table class="table table-borderless">
          <tr>
            <td style="width: 30%"><%= f.label :image, "ゲーム画像" %></td>
            <td><%= f.file_field :game_image, class: "form-control-file", accept: 'image/*' %></td>
          </tr>
          <tr>
            <td><%= f.label :title, "タイトル" %><span class="text-danger">*必須</span></td>
            <td><%= f.text_field :title, class: "form-control", size: "40" %></td>
          </tr>
          <tr>
            <td><%= f.label :platform_id, "機種" %><span class="text-danger">*必須</span></td>
            <td>
              <div class="row">
                <div class="col-md-6">
                  <%= f.select :platform_id, options_from_collection_for_select(Platform.all, :id, :name), {}, class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td><%= f.label :name, "タグ (,で区切ると複数タグ登録できます)" %></td>
            <td><%= f.text_area :name, value: @tags, class: "form-control" %></td>
          </tr>
          <tr>
            <td class="align-middle"><%= f.label :introduction, "ゲーム紹介欄" %></td>
            <td><%= f.text_area :introduction, rows: '5', class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :release_date, "発売日" %></td>
            <td>
              <div class="row">
                <div class="col-md-6">
                  <%= f.text_field :release_date, class: "form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td><%= f.label :no_tax_price, "税抜価格" %></td>
            <td>
              <div class="row">
                <div class="col-md-6">
                  <%= f.text_field :no_tax_price, class: 'form-control', size: "20" %>
                </div>
                <div class="my-auto col-md-1">円</div>
              </div>
            </td>
          </tr>
          <tr>
            <td><%= f.label :related_url, "関連URL" %></td>
            <td>
              <%= f.text_field :related_url, class: "form-control" %>
            </td>
          </tr>
        </table>
        <div class="mx-auto">
          <%= f.submit "情報を更新", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
