<div class='container'>
  <div class="row">
    <div class="col-md-1 mx-auto">
      <%= image_tag @game.get_game_image, size:'100x100', class: "game_image" %>
    </div>
    <div class="col-md-9 mx-auto">
      <span class="badge badge-info"><%= @game.platform.name %></span>
      <h2><%= @game.title %></h2>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-3">
      <h4>平均評価</h4>
      <div class="col-md-9">
        <span id="star-game-<%= @game.id %>"></span>
        <%= render "public/shared/star", review: nil, game: @game %>
      </div>
      <p></p>
      <p>レビュー数: <%= @game.reviews.size %>件</p>
      <p>平均評価: <strong><%= @game.reviews.average(:rate).to_f.round(1) %></strong>/10</p>
    </div>
    <div class="col-md-6">
      <h4>ゲーム概要</h4></h4>
      <span><%= @game.introduction %></span>
    </div>
    <div class="col-md-3">
      <h4>infomation</h4>
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td style='width: 40%'>発売日:</td>
            <td style='width: 60%'><%= @game.release_date %></td>
          </tr>
          <tr>
            <td>価格(税抜):</td>
            <td><%= @game.no_tax_price %>円</td>
          </tr>
          <tr>
            <td>機種:</td>
            <td><%= @game.platform.name %></td>
          </tr>
          <tr>
            <td>タグ:</td>
            <td><%= @tags %></td>
          </tr>
          <tr>
            <td>関連URL:</td>
            <td><%= @game.related_url %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <%= link_to game_threads_path(@game), class: "btn btn-primary" do %>
        <i class="fas fa-clipboard-list"></i>
        <span> スレッド一覧 </span>
        <span class="badge badge-light"><%= @thread_messages_count %></span>
      <% end %>
    </div>
    <% if admin_signed_in? || customer_signed_in? && current_customer.email != "guest@example.com" %>
      <div class="col-3">
        <%= link_to edit_game_path(@game), class: "btn btn-success" do %>
          <i class="fas fa-edit"></i> 情報を編集する
        <% end %>
      </div>
    <% end %>
    <% if admin_signed_in? %>
      <div class="col-2">
        <%= link_to game_path(@game), class: "btn btn-danger", data: {confirm: "このゲームに関連付けられたレビュー、スレッドが全て削除されます。本当に消しますか?" }, method: :delete do %>
          <i class="far fa-trash-alt"></i> 情報を削除する
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4><%= @game.title %>のレビュー一覧</h4>
      <% if customer_signed_in? %>
        <h5>あなたのレビュー</h5>
        <% if @review == nil %>
          <h6>まだレビューがありません 以下のボタンからレビューを作成しましょう</h6>
          <%= link_to "レビューを書く", new_game_review_path(@game), class: "btn btn-primary" %>
        <% else %>
          <%= link_to review_path(@review), class: "text-dark text-decoration-none" do %>
            <div class="row my-2 border border-secondary rounded">
              <div class="col-md-7 my-auto"><strong><u><%= @review.customer.name %></u></strong></div>
              <div class="col-md-2">
                <span id="star-review-<%= @review.id %>"></span>
                <%= render "public/shared/star", review: @review, game: nil %>
              </div>
              <div class="col-md-3 my-auto">評価:<%= @review.rate %></div>
              <div class="col-md-12 py-2 border-top"><%= @review.comment %></div>
            </div>
          <% end %>
        <% end %>
      <% elsif admin_signed_in? %>
      <% else %>
        <h5>ログインまたは新規登録してレビューを投稿しましょう</h5>
      <% end %>
      <h5>みんなのレビュー</h5>
      <% @reviews.each do |review| %>
        <%= link_to review_path(review), class: "text-dark text-decoration-none bg-primary" do %>
          <div class="row mt-2 border border-secondary rounded">
            <div class="col-md-7 my-auto"><strong><u><%= review.customer.name %></u></strong></div>
            <div class="col-md-2">
              <span id="star-review-<%= review.id %>"></span>
              <%= render "public/shared/star", review: review, game: nil %>
            </div>
            <div class="col-md-3 my-auto">評価:<%= review.rate %></div>
            <div class="col-md-12 py-2 border-top"><%= review.comment %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
