<div class='container'>
  <%= render "public/games/sub_header", platforms: @platforms %>
  <div class="row">
    <div class="offset-md-1 my-2">
      <% if @word == nil %>
        <h4 class="title">ゲーム一覧<small>(評価順)</small></h4>
      <% else %>
        <h4 class="title">検索結果:"<%= @word %>"<small>(評価順,全<%= @total_games.size %>件)</small></h4>
      <% end %>
    </div>
    <div class="ml-auto">
      <%= link_to "＋ゲームの登録", new_game_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= render "public/games/side_bar", tags: @tags, link: rankings_search_path, sub_title: "評価順" %>
    </div>
    <div id="rankings_index" class="col-md-9">
      <%= render "public/games/index", games: @games %>
    </div>
  </div>
</div>
