<div class='container'>
  <%= render "public/games/sub_header", platforms: @platforms %>
  <div class="row">
    <div id="ranking_search_title" class="offset-md-1 my-2">
      <%= render "ranking_title", word: @word, total_games: @total_games %>
    </div>
    <div class="ml-auto">
      <%= link_to "＋ゲームの登録", new_game_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= render "public/games/side_bar", tags: @tags, link: rankings_search_path, sub_title: "評価順" %>
    </div>
    <div id="rankings_index" class="col-md-9">
      <%= render "public/games/index", games: @games %>
    </div>
  </div>
</div>
