<div class="container">
  <div class="row">
    <div class="offset-md-1">
      <h4 class="title">管理者ログイン</h4>
    </div>
  </div>
  <div class="row mt-2" style='background-color: #000066;'>
    <div class='col-md-6 mx-auto my-5 main_text'>
      <%= form_with model: @admin,url: admin_session_path do |f| %>
        <table class="table table-borderless text-white">
          <tbody>
            <tr>
              <td style= "width: 30%"><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :password, "パスワード" %></td>
              <td><%= f.password_field :password, class: "form-control" %></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="row">
                  <div class="mx-auto">
                    <%= f.submit "ログイン", class: "btn btn-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
