<div class='container'>
  <div class="row">
    <div class="my-2">
      <h4 class="title">会員一覧</h4>
    </div>
  </div>
</div>
<div class="container">
  <div id="customers_index">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザーネーム</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to customer_path(customer), class: "text-dark" do %>
                <u><%= customer.name %></u>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <% if customer.is_active == true %>
              <td class="text-success">有効</td>
            <% else %>
              <td class="text-muted">無効</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="mx-auto">
        <%= paginate @customers %>
      </div>
    </div>
  </div>
</div>
