<div class='container'>
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title">レビューの編集</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6 mx-auto">
  	  <%= render 'layouts/errors', obj: @review %>
  	  <%= form_with model: @review, url: reviews_path do |f| %>
      <table class="table table-borderless">
          <tr>
            <td style="width: 30%"><%= f.label :rate, "評価" %></td>
            <td id="star"><%= f.hidden_field :rate, id: :review_star %></td>
          </tr>
          <tr>
            <td><%= f.label :comment, "レビュー" %></td>
            <td><%= f.text_field :comment, class: "form-control", size: "40" %></td>
          </tr>
      </table>
      <%= render "public/shared/star", review: nil, game: nil %>
      <div class="mx-auto">
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
