<div class="container">
  <%= render "public/shared/back", link: game_path(@review.game.id), text: "ゲーム詳細(#{@review.game.title})" %>
  <div class="row">
    <div class="col-12 border rounded">
      <div class="row border-bottom">
        <div class="col-md-4 my-auto"><%= @review.customer.name %></div>
        <div class="col-md-5 text-right my-auto"><%= @review.game.title %></div>
        <div class="col-md-2"><span id="star-review-<%= @review.id %>"></span></div>
        <%= render "public/shared/star_show", review: @review %>
        <div class="col-md-1 my-auto">評価:<%= @review.rate %></div>
      </div>
      <div class="row py-2">
        <div class="col-md-12"><%= @review.comment %></div>
      </div>
      <div class="row py-2 border-top">
        <div class="col-1 my-auto">
          <% if customer_signed_in? && @review.customer != current_customer %>
            <% if @review.sympathied_by?(current_customer) %>
              <%= link_to review_sympathies_path(@review), method: :delete do %>
                <i class="fas fa-thumbs-up"></i> <%= @review.sympathies.count %>
              <% end %>
            <% else %>
              <%= link_to review_sympathies_path(@review), method: :post do %>
                <i class="far fa-thumbs-up"></i> <%= @review.sympathies.count %>
              <% end %>
            <% end %>
          <% else %>
            <i class="far fa-thumbs-up"></i> <%= @review.sympathies.count %>
          <% end %>
        </div>
        <div class="col-1 offset-1 my-auto">
          <i class="fas fa-comment"></i> <%= @review.review_comments.size %>
        </div>
        <% if admin_signed_in? || @review.customer == current_customer %>
          <div class="col-3 ml-auto">
            <%= link_to edit_review_path(@review), class: "btn btn-success" do %>
              <i class="fas fa-edit"></i> レビューを編集
            <% end %>
          </div>
        <% end %>
        <% if admin_signed_in? %>
          <div class="col-3">
            <%= link_to review_path(@review), class: "btn btn-danger", data: {confirm: "本当に消しますか？" }, method: :delete do %>
              <i class="far fa-trash-alt"></i> レビューを削除
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <h3>コメント一覧</h3>
    </div>
    <div class="col-12">
      <div id="comment_index" class="row">
        <%= render "comment_index", comments: @comments, review: @review %>
      </div>
    </div>
    <% if customer_signed_in? %>
      <div class="col-md-6 mx-auto">
        <h6><strong><%= current_customer.name %></strong> としてコメントをする</h6>
        <%= form_with model: @comment, url: review_review_comments_path(@review.id), remote: true, method: :post do |f| %>
          <%= f.label :comment, "コメント" %>
          <%= f.text_area :comment, id: "comment_field",class: "form-control" %>
          <%= f.hidden_field :review_id, value: @review.id %>
          <div class="mt-2"><%= f.submit "投稿", class: "btn btn-success" %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
