<div class='container'>
  <div class="row">
    <div class="mt-2"><span><small><strong>"<%= @game.title %>"</strong>のスレッド</small></span></div>
  </div>
  <div class="row">
    <div class="mb-2">
      <h5 class="title"><%= @thread.title %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 mx-auto"><%= @thread.introduction %></div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <h3>メッセージ一覧</h3>
    </div>
    <% @messages.each do |message| %>
      <div class="col-12 my-2 border border-secondary rounded">
        <div class="row my-2">
          <div class="col-md-6 my-auto">
            <strong><%= message.customer.name %></strong>
            <span class="text-muted"> 投稿時間:<%= message.created_at.strftime("%Y年%-m月%-d日 %H:%M:%S") %></span>
          </div>
          <% if admin_signed_in? || message.customer == current_customer %>
            <div class="col-md-2 ml-auto">
              <%= link_to "削除", thread_thread_message_path(@thread, message), class: "btn btn-danger", data: {confirm: "本当に消しますか？" }, method: :delete %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-12 py-2 border-top"><%= message.message %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @messages %>
    </div>
  </div>
  <div class="row">
    <% if customer_signed_in? %>
      <div class="col-md-6 mx-auto">
        <h6><strong><%= current_customer.name %></strong> として投稿をする</h6>
        <%= form_with model: [@thread, @message], url: thread_thread_messages_path(@thread), method: :post do |f| %>
          <%= f.label :message, "メッセージ" %>
          <%= f.text_area :message, class: "form-control" %>
          <div class="mt-2"><%= f.submit "投稿", class: "btn btn-success" %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
