<div class='container'>
  <%= render "public/shared/back", link: game_threads_path(@game.id), text: "スレッド一覧(#{@game.title})" %>
  <div class="row">
    <div class="mt-2"><span><small><strong>"<%= @game.title %>"</strong>のスレッド</small></span></div>
  </div>
  <div class="row">
    <div class="mb-2">
      <h5 class="title"><%= @thread.title %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 mx-auto"><%= @thread.introduction %></div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <h3>メッセージ一覧</h3>
    </div>
  </div>
  <div id="message_index" class="row">
    <%= render "message_index", messages: @messages, thread: @thread %>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @messages %>
    </div>
  </div>
  <div class="row">
    <% if customer_signed_in? %>
      <div class="col-md-6 mx-auto">
        <h6><strong><%= current_customer.name %></strong> として投稿をする</h6>
        <%= form_with model: [@thread, @message], url: thread_thread_messages_path(@thread), local: false, method: :post do |f| %>
          <%= f.label :message, "メッセージ" %>
          <%= f.text_area :message, id: "message_field", class: "form-control" %>
          <div class="mt-2"><%= f.submit "投稿", class: "btn btn-success" %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
