<div class="container">
  <div class="row">
    <div class="offset-md-1">
      <h4 class="title">新規会員登録</h4>
    </div>
  </div>
  <div class="row">
      <div class="offset-md-1">
        <%= render "public/shared/error_messages", resource: resource %>
      </div>
    </div>
  <div class="row mt-2" style='background-color: #000066;'>
    <div class='col-md-8 mx-auto my-5 main_text'>
      <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
        <table class="table table-borderless text-white">
          <tbody>
            <tr>
              <td style= "width: 30%"><%= f.label :name, "ニックネーム" %></td>
              <td><%= f.text_field :name, placeholder: "タロウ", autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, placeholder: "sample@example.com", class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :password, "パスワード(6文字以上)" %></td>
              <td><%= f.password_field :password, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
              <td><%= f.password_field :password_confirmation, class: "form-control" %></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="row">
                  <div class="mx-auto">
                    <%= f.submit "新規登録", class: "btn btn-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="offset-md-2">
      <h5 class="title">既に登録済みの方</h5>
      <p class="ml-2"><%= link_to "こちら", new_customer_session_path %>からログインしてください。</p>
    </div>
  </div>
</div>
